repeats     = 200
button      = target == "desktop" ? "button" : "light-button"
quietButton = target == "desktop" ? "quiet"  : "quiet-button"
largeButton = target == "desktop" ? "large"  : "large-button"

!!!
html
    head
        title TopCoat buttons test
        <link rel="stylesheet" type="text/css" href=./release/css/topcoat-#{target}-min.css>
    body
        -while (repeats > 0)
            -var repeats = repeats - 1

            table.preview(role='presentation')
                tr(role='presentation')
                    td(role='presentation')
                        p
                            a(class='#{button}', href='#button', role='button') Button
                            a(class='#{button} disabled', role='button', aria-disabled='true') Disabled Button
                        p
                            a(class="#{button} #{quietButton}", href='#button', role='button') Quiet Button
                            a(class="#{button} #{quietButton} disabled", role='button', aria-disabled='true') Disabled Quiet Button
                        p
                            a(class="#{button} #{largeButton}", href='#button', role='button') Large Button
                            a(class="#{button} #{largeButton} disabled", role='button', aria-disabled='true') Large Disabled Button
                        p
                            a(class="#{button} #{quietButton} #{largeButton}", href='#button', role='button') Quiet Button
                            a(class="#{button} #{quietButton} #{largeButton} disabled", role='button', aria-disabled='true') Disabled Quiet Button
